@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.root {
  text-align: center;
}

header{
  text-align: center;
}


h1{
  font-family:'Varela Round', sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 10px black, 0 0 1em #e6620a, 0 0 0.2em #e6620a;
}

body{
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.scorebox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px groove #f6660d;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 20px;
}

.player1Score{
  width: 200px;
  height: 25px;
  background: white;
  color: black;
}

.player2Score{
  width: 200px;
  height: 25px;
  background: black;
  color: white
}


.playZone {
  display: flex;
  background: white;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  height: 200px;
  margin-top: 20px;
}

.player1gameZone{
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  height: 80%;
  width: 50%;
  padding-top: 50px;
}

.player2gameZone{
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  height: 100%;
  width: 50%;
  padding-top: 10px;
}


.commentary{
  width: 60%;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
  margin-top: 20px;
}


#container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

.box{
  width: 10%;
  height: 100%;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.sneaker-img{
  width: 200px;
  height: 130px;
}

#box1:hover:after{
  font-size: 20px;
  content: '\a Nike Beats\a Adidas & Jordan';
  width: 100%;
  white-space: pre;
  padding-top: 12px;
  background-color: white;
  color: red;
  animation-name: nike;
  animation-duration: 3s;
}


@keyframes nike {
  0% {
    transform: translateX(8px);
    color: white
  }
  20% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

#box2:hover:after{
  font-size: 20px;
  content: '\a Adidas Beats\a Asics & New Balance';
  width: 100%;
  padding-top: 12px;
  white-space: pre;
  background-color: white;
  color: #555357;
  animation-name: adidas;
  animation-duration: 3s;
}

@keyframes adidas {
  0% {
    transform: translateX(8px);
    color: white
  }
  20% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

#box3:hover:after{
  font-size: 20px;
  content: '\a Asics Beats\a Nike & Jordan';
  white-space: pre;
  padding-top: 12px;
  background-color: white;
  color: #1E263A;
  animation-name: asics;
  animation-duration: 3s;
}

@keyframes asics {
  0% {
    transform: translateX(8px);
    color: white
  }
  20% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

#box4:hover:after{
  font-size: 20px;
  content: '\a New Balance Beats\a Nike & Asics';
  white-space: pre;
  padding-top: 12px;
  background-color: white;
  color: #2B3177;
  animation-name: new-balance;
  animation-duration: 3s;
}

@keyframes new-balance {
  0% {
    transform: translateX(8px);
    color: white
  }
  20% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

#box5:hover:after{
  font-size: 20px;
  text-align: center;
  content: '\a Jordan Beats\a Adidas & New Balance';
  white-space: pre;
  padding-top: 12px;
  background-color: white;
  color: black;
  animation-name: jordan;
  animation-duration: 3s;
}

@keyframes jordan {
  0% {
    transform: translateX(8px);
    color: white
  }
  20% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.p1text{
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
}

.p2text{
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
}

#player_1_img {
  max-width: 200px;
  height: 150px
}

#player_2_img {
  max-width: 300px;
  padding-top: 40px;
  height: 150px
}

#replay-container{
  margin: 0 auto;
  display: flex;
}

#replay{
  margin-top: 10px;
}
