@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.root {
  text-align: center;
}

header{
  text-align: center;
  padding-top: 5px;
}

h3{
  font-family:'Varela Round', sans-serif;
}

body{
  background: #e0dbd1;
}

.scorebox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px dashed orange;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.player1Score{
  width: 200px;
  height: 45px;
  background: white;
  color: black;
}

.player2Score{
  width: 200px;
  height: 45px;
  background: black;
  color: white
}


.playZone {
  background: white;
  margin: 0 auto;
  width: 80%;
  height: 200px;
  padding-top: 20px;
  border-radius: 60%;
}

.player2gameZone{
  background: orange;
  padding-bottom: 70px;
  border-radius: 60%;
}

.player1gameZone{
  background: black;
  padding-bottom: 80px;
  border-radius: 50%;
}

.commentary{
  background: yellow;
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  margin-top: 40px;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: space-around; */
  width: 30%;
  margin-top: 90px;
}

.box{
  width: 200px;
  height: 100%;
  border-bottom: 1px dotted orange;
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

.box p {
  font-size: 14px;
  /* visibility: hidden; */
  opacity: 0.0;
  animation-name: brand-name;
}

#box1:hover{
  background-color: red;
  animation-name: nike;
  animation-duration: 10s;
}

@@keyframes brand-name; {
  0%{
    opacity: 0;
    visible: hidden;
  }

  100%{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes nike {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(2px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-1px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box2:hover{
  background-color: darkgreen;
  animation-name: adidas;
  animation-duration: 10s;
}

@keyframes adidas {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(2px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-1px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box3:hover{
  background-color: silver;
  animation-name: reebok;
  animation-duration: 10s;
}

@keyframes reebok {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(2px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-1px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box4:hover{
  background-color: gold;
  animation-name: new-balance;
  animation-duration: 10s;
}

@keyframes new-balance {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(2px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-1px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box5:hover{
  background-color: #000080;
  animation-name: jordan;
  animation-duration: 10s;
}

@keyframes jordan {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(2px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-1px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}
