@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.root {
  text-align: center;
}

header{
  text-align: center;
  padding-top: 5px;
}

h1{
  font-size: 35px;
  letter-spacing: 2px;

}

h3{
  margin-top: -15px;
  font-family:'Varela Round', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 10px black, 0 0 1em red, 0 0 0.2em red;
}

body{
  background: #e0dbd1;
}

.scorebox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px dashed orange;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 20px;
}

.player1Score{
  width: 200px;
  height: 25px;
  background: white;
  color: black;
}

.player2Score{
  width: 200px;
  height: 25px;
  background: black;
  color: white
}


.playZone {
  background: white;
  margin: 0 auto;
  width: 50%;
  height: 200px;
  margin-top: 50px;
  /* border-radius: 0%; */
}

/* .player2gameZone{
  background: orange;
  padding-top: 50px;
  padding-bottom: 70px;
  border-radius: 60%;
}

.player1gameZone{
  background: black;
  padding-top: 50px;
  padding-bottom: 80px;
  border-radius: 50%;
} */

.commentary{
  background: rgba(219, 219, 172, .5);
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  margin-top: 40px;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
}

.box{
  width: 30%;
  height: 100%;
  border-bottom: 1px dotted orange;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  margin: 0 auto;
  padding: 20px;
}

/* .beat {
  font-size: 14px;
  color: rgba(219, 219, 172, .2)
  /* visibility: hidden; */
  /* opacity: 0.0; */
}


/* .beat:hover{
  color: rgba(219, 219, 172, 1);
  font-size: 40px;
} */ */

.sneaker-img{
  height: 100px;
  width: 100px;
}

#box1:hover:after{
  font-size: 20px;
  content: '\a Adidas/Jordan';
  white-space: pre;
  padding-top: 12px;
  background-color: black;
  color: white;
  animation-name: nike;
  animation-duration: 10s;
}


/* @@keyframes brand; {
  0%{
    opacity: 0;
    color: blue
  }

  100%{
    opacity: 1;
  }
} */

@keyframes nike {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(8px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-8px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box2:hover:after{
  font-size: 20px;
  content: 'Reebok/New Balance';
  padding-top: 12px;
  white-space: pre;
  background-color: black;
  color: white;
  animation-name: adidas;
  animation-duration: 10s;
}

@keyframes adidas {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(8px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-8px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box3:hover:after{
  font-size: 20px;
  content: '\a Nike/Jordan';
  white-space: pre;
  padding-top: 12px;
  background-color: black;
  color: white;
  animation-name: reebok;
  animation-duration: 10s;
}

@keyframes reebok {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(8px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-8px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box4:hover:after{
  font-size: 20px;
  content: '\a Nike/Reebok';
  white-space: pre;
  padding-top: 12px;
  background-color: black;
  color: white;
  animation-name: new-balance;
  animation-duration: 10s;
}

@keyframes new-balance {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(8px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-8px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}

#box5:hover:after{
  font-size: 20px;
  content: '\a Adidas/New Balance';
  white-space: pre;
  padding-top: 12px;
  background-color: black;
  color: white;
  animation-name: jordan;
  animation-duration: 10s;
}

@keyframes jordan {
  0% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(8px);
    /* visibility: visible;
    opacity: 1; */
    /* transition: all .2s ease-in-out */
    color: white
  }
  20% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-8px);
    /* visibility: visible;
    opacity: 1; */
  }
  60% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(4px);
    /* visibility: visible;
    opacity: 1; */
  }
  80% {
    /* transform: translateY(-25px) scale(4) rotate(360deg); */
    transform: translateX(-4px);
    /* visibility: visible;
    opacity: 1; */
  }
  100% {
    /* transform: translateY(0) scale(1) rotate(0deg); */
    transform: translateX(0px);
    /* visibility: visible;
    opacity: 1; */

  }
}
